<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
		<link rel="icon" href="/img/icon.png">

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
	  <div class="mainContent">
		  {{>header}}
		  <img class="aboutImg" src="/img/weather.png" alt="">
      <p>
        A simple Weather App to fetch weather info based on search term provided by the user.
        Built using Node.js, Darksky, Mapbox. <br> <br>
        <a href="https://github.com/HarshaKy/weather-app-final" target="_blank">GitHub</a>
      </p>
	  </div>
    
    {{>footer}}
  </body>
</html>
