<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
		<link rel="icon" href="/img/icon.png">

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
	  <div class="mainContent">
		  {{>header}}
		  <img class="aboutImg" src="/img/weather.png" alt="">
	  </div>
    
    {{>footer}}
  </body>
</html>
